.chat-widget {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    font-family: sans-serif;
    font-size: 14px;
    width: 300px;
  }
  
  .chat-input {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .chat-input input[type="text"] {
    flex-grow: 1;
    border: none;
    padding: 10px;
    font-size: 14px;
    border-radius: 4px;
    background-color: #f5f5f5;
    margin-right: 10px;
  }
  
  .chat-input button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .chat-input button:hover {
    background-color: #0062cc;
  }

  .chat-messages{
    display: flex;
    flex-direction: column;
    background-color: rgb(109, 104, 99);
    padding: 10px;
    width: 100%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    color: white;
  }

  .chat-header {
    display: flex;
    justify-content: space-around !important;
    flex-direction: row !important;
    margin-bottom: 20px;
  }
  .close-button:hover {
    background-color: #da2727;
  }
  .close-button {
    border: none;
    background-color: red;
    border-radius: 50%;
    margin-left: 180px;
    width: 20px;
    height: 20px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  .chat-header h2 {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
    color: #333333;
  }
  