.footer {
    background-color: #1E1E1E;
    color: white;
    bottom: 0;
    width: 100vw;
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

  }
  
  .footer-col {
    flex-basis: 30%;
    margin-bottom: 30px;
  }
  
  .footer-col h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .footer-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .footer-list li {
    margin-bottom: 10px;
  }
  
  .footer-row:last-child {
    margin-bottom: 0;
  }
  
  .footer p {
    margin: 0;
    text-align: center;
    font-size: 0.8rem;
  }
  